*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
    text-decoration: none;
    list-style: none;
}

.contenedor{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.fila{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
}

.col-12{
    width: 100%;
}